body {
  margin: 0px;
}
.photoBackground {
  padding-bottom: 100px;
  opacity: 5;
  border-bottom: 10px solid gray;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/a43711df-c428-4f88-8bb3-b2ac5f20608f/82e53bb2-68b3-47d0-9e0c-d9d8fd06a81a/NG-en-20230227-popsignuptwoweeks-perspective_alpha_website_large.jpg");
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 70px;
}
.logo {
  color: red;
}
.signBtn {
  width: 100px;
  padding: 15px 25px;
  border-radius: 10px;
  background-color: red;
  color: white;
  margin-top: 10px;
}
.unlimited {
  color: white;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px black;
}
.input1 {
  width: 450px;
  /* padding-bottom: 30px; */
  border-color: beige;
  margin-bottom: 20px;
  height: 60px;
  box-sizing: border-box;
  appearance: none;
}
.getStarted {
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 20px;
  box-sizing: border-box;
  border: 0px;
  padding-bottom: 10px;
  border-left: 2px solid gray;
  z-index: 1px;
  margin-left: -7px;
}
@media screen {
}
.secondPage {
  background-color: black;
  border-bottom: 10px solid gray;
  display: flex;
  flex-direction: row;
  padding-left: 250px;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.secondPage1 {
  margin-top: auto;
  margin-bottom: auto;
  width: 450px;
  font-size: 25px;
  margin-right: 150px;
}
@media screen {
}
.thirdPage {
  background-color: black;
  border-bottom: 10px solid gray;
  display: flex;
  flex-direction: row;
  padding-left: 250px;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
.thirdPage1 {
  margin-top: auto;
  margin-bottom: auto;
  width: 450px;
  font-size: 23px;
  margin-left: 150px;
}
@media screen {
}
.fourthPage {
  background-color: black;
  border-bottom: 10px solid gray;
  padding-left: 250px;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 25px;
}
